<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>OSM tasking import</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<link href='//mapbox.com/base/latest/base.css' rel='stylesheet' />
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />
	</head>
	<body>
		<header class="header fill-light keyline-bottom mobile-cols f-parent  fill-blue dark">
			<nav>
				<div class=" text-left">
					<a class="title" href="/">
						<h2>OSM tasking import</h2>
					</a>
				</div>
				<div class="text-right">
					<div class="space pad0y keyline-right">
						<div class="space pad0y keyline-right">
							<a id="authenticate" class="icon pencil short button" >Login with OSM</a>
							<a href="#"><span id ="user"></span></a>
							<a id ="logout" class="icon logout short button off">Logout</a>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<div id="map"></div>
		<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://npmcdn.com/@turf/turf@5.0.4/turf.min.js"></script>
	</body>
</html>