<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>OSM tasking import</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />

</head>
<body>
	<div id="map"></div>
	<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>