body {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.header {
	position: absolute;
	z-index: 99;
	width: 100%;
}

.off {
	display: none;
}

.title {
	position: absolute;
	margin-left: 50px;
	margin-top: 5px;
}

.pill {
    padding: 5px;
}

.button{
	margin-bottom: 5px;
}